Esse repositório vai ser utilizado para o desenvolvimento da disciplina de Desenvolvimento Web 2026/1, 3º período.
Vou separar cada aula em pastas.
Me chamo Allan Batista do Nascimento, aluno do curso de Tecnologia em Análise e Desenvolvimento de Sistemas do IFTO Araguaína.