/* Arquivo de estilos - Aula 06 */

img {
    width: 10%; 
    height: auto;
    display: block;
    margin: auto;
}

body{
    background-color: white;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    display: block;
    margin: auto;
}