/* estilos específicos para mudar-cor */

body { font-family: Arial, sans-serif; background:#fff; }
.container { width:70%; margin: 40px auto; text-align:center; }
#exercicio-text { color: black; }
#exercicio-btn { margin-top: 16px; }
